# Compiled
*.elc

# Packaging
.cask

# Temporary
*~

# Specific files
recentf
bookmarks
tramp
projectile-bookmarks.eld
projectile.cache
.last-package-update-day
.mc-lists.el

# Specific folders
elpa/
eshell/
semanticdb/
irony/
org/
snippets/
spu_log/
rtags/
