# Compiled
*.elc

# Packaging
.cask

# Temporary
*~

# Specific files
recentf
bookmarks
tramp
projectile-bookmarks.eld
.last-package-update-day

# Specific folders
elpa/
eshell/
semanticdb/
irony/
org/
snippets/
